<h2 class="title is-2">Criar nova conta Cliente</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "customers/shared/error_messages", resource: resource %>

  <div class="field">
    <label class="label"><%= f.label :cpf %></label>
    <div class="control">
      <%= f.text_field :cpf, class: "input", autocomplete: "email" %>
    </div>
  </div>

  <div class="field">
    <label class="label"><%= f.label :email %></label>
    <div class="control">
      <%= f.email_field :email, class: "input", autofocus: true, autocomplete: "email" %>
    </div>
  </div>

  <div class="field">
    <label class="label">
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
    </label>
    <div class="control">
      <%= f.password_field :password, class: "input", autocomplete: "new-password" %>
    </div>
  </div>

  <div class="field">
    <label class="label"><%= f.label :password_confirmation %></label>
    <div class="control">
      <%= f.password_field :password_confirmation, class: "input", autocomplete: "new-password" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= f.submit "Criar conta", class: "button is-primary is-outlined" %>
    </div>
  </div>
<% end %>

<%= render "customers/shared/links" %>
