<%= form_with(model: @buffet) do |f| %>

<div class="field">
  <%= f.label :brand_name, class:"label" %>
  <div class="control">
    <%= f.text_field :brand_name, class:"input"  %>
  </div>
</div>
<div class="field">
  <%= f.label :corporate_name, class:"label" %>
  <div class="control">
    <%= f.text_field :corporate_name, class:"input"  %>
  </div>
</div>
<div class="field">
  <%= f.label :registration, class:"label" %>
  <div class="control">
    <%= f.text_field :registration, class:"input"  %>
  </div>
</div>
<div class="field">
  <%= f.label :phone_number, class:"label" %>
  <div class="control">
    <%= f.text_field :phone_number, class:"input"  %>
  </div>
</div>
<div class="field">
  <%= f.label :email, class:"label" %>
  <div class="control">
    <%= f.email_field :email, class:"input"  %>
  </div>
</div>
<div class="field">
  <%= f.label :full_address, class:"label" %>
  <div class="control">
    <%= f.text_field :full_address, class:"input"  %>
  </div>
</div>
<div class="field">
  <%= f.label :description, class:"label" %>
  <div class="control">
    <%= f.text_area :description, class:"input"  %>
  </div>
</div>
<div class="field">
  <%= f.label "Metodos de Pagamento", class:"label" %>
  <div class="control">
    <%= f.collection_check_boxes :payment_method_ids, PaymentMethod.all, :id, :name, class:"input"  %>
  </div>
</div>

<% end %>
