<% if @buffet.errors.any?%>
  <p>Verifique os erros abaixo</p>
  <ul>
  <% @buffet.errors.full_messages.each do |msg|%>
    <li><%= msg%></li>
  <% end %>
  </ul>
<% end %>

<%= form_with(model: @buffet) do |f| %>
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= f.label :brand_name, class:"label" %>
  </div>
  <div class="field-body">
    <div class="field">
      <%= f.text_field :brand_name, class:"input"  %>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= f.label :corporate_name, class:"label" %>
  </div>
  <div class="field-body">
    <div class="field">
      <%= f.text_field :corporate_name, class:"input"  %>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= f.label :registration, class:"label" %>
  </div>
  <div class="field-body">
    <div class="field">
      <%= f.text_field :registration, class:"input"  %>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= f.label :phone_number, class:"label" %>
  </div>
  <div class="field-body">
    <div class="field">
      <%= f.text_field :phone_number, class:"input"  %>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= f.label :email, class:"label" %>
  </div>
  <div class="field-body">
    <div class="field">
      <%= f.text_field :email, class:"input"  %>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= f.label :address, class:"label" %>
  </div>
  <div class="field-body">
    <div class="field">
      <%= f.text_field :address, class:"input"  %>
    </div>
  </div>
</div>
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= f.label :district, class:"label" %>
  </div>
  <div class="field-body">
    <div class="field">
      <%= f.text_field :district, class:"input"  %>
    </div>
  </div>
</div>
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= f.label :city, class:"label" %>
  </div>
  <div class="field-body">
    <div class="field">
      <%= f.text_field :city, class:"input"  %>
    </div>
  </div>
</div>
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= f.label :state_code, class:"label" %>
  </div>
  <div class="field-body">
    <div class="field">
      <%= f.text_field :state_code, class:"input"  %>
    </div>
  </div>
</div>
<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= f.label :zip_code, class:"label" %>
  </div>
  <div class="field-body">
    <div class="field">
      <%= f.text_field :zip_code, class:"input"  %>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= f.label :description, class:"label" %>
  </div>
  <div class="field-body">
    <div class="field">
      <%= f.text_area :description, class:"input"  %>
    </div>
  </div>
</div>

<div class="field is-horizontal">
  <div class="field-label is-normal">
    <%= f.label :payment_methods, class:"label" %>
  </div>
  <div class="field-body">
    <div class="field mt-1">
      <%= f.collection_check_boxes :payment_method_ids, @payment_methods, :id, :humanized_method_name, class:"label" do |box| %>
      <%= box.label(class: "checkbox ml-2") {box.check_box(class: "checkbox mr-1") + box.text} %>
    <% end %>
    </div>
  </div>
</div>
<div class="field is-horizontal" >
  <div class= "field-label"></div>
  <div class="field-body">
    <div class="field is-grouped">
      <div class="control">
        <%= f.submit class:"button is-link" %>
      </div>
      <div class="control">
        <%= link_to 'Cancelar', root_path, class:"button is-link is-light" %>
      </div>
    </div>
  </div>
</div>

<% end %>
