<div class="content">
  <%= link_to "Retornar para #{@event.buffet.brand_name}", @event.buffet, class:"button is-rounded is-small is-outlined is-danger is-light" %>
</div>

<div class="box">
  <div class='columns'>
    
    <div class='column is-one-third'>
      <h1 class="title"><%= @event.name %> <%= "(Desativado)" unless @event.active? %></h1>
      <p class="subtitle"><%= "Tipo de evento: " + @event.event_category.humanized_category_name %></p>
      <address>
        <p><strong>Capacidade:</strong> mínimo <%= @event.min_capacity %> e máximo <%= @event.max_capacity %></p>
        <p><strong>Duração:</strong> <%= @event.default_duration / 60 %> horas</p>
        <p><strong>Descrição:</strong> <%= @event.description %></p>
        <p><strong>Menu:</strong> <%= @event.menu %></p>
        <p><strong>Endereço Exclusivo:</strong> <%= @event.exclusive_address ? "Sim" : "Não" %></p>
      </address>
      <div class="content">
        <p><strong>Características:</strong></p>
        <ul>
          <% @event.features.each do |f| %>
            <li class="subtitle is-6"><%= f.humanized_feature_name %></li>
          <% end %>
        </ul>
      </div>
      <hr>
      <% if buffet_owner_signed_in? && @event.buffet.buffet_owner == current_buffet_owner %>
        <div class='buttons is-grouped'>
          <%= link_to Event.human_attribute_name(:edit), edit_event_path(@event.id), class:"button is-rounded is-warning is-outlined" %>
          <% if @event.active? %>
            <%= button_to Event.human_attribute_name(:disable), disable_event_path(@event.id), method: :post, class:"button is-rounded is-danger is-outlined" %>
          <% else %>
            <%= button_to Event.human_attribute_name(:activate), activate_event_path(@event.id), method: :post, class:"button is-rounded is-success is-outlined" %>
          <% end %>
        </div>
        <div class="buttons is-grouped">
          <%= link_to 'Definir preço padrão', new_event_price_path(price_type: 'standard', event_id: @event.id),
                        class:"button is-rounded is-info is-outlined" unless @event.event_prices.exists?(price_type: 'standard') %>
          <%= link_to 'Definir preço especial', new_event_price_path(price_type: 'special', event_id: @event.id), 
                        class:"button is-rounded is-primary is-outlined" unless @event.event_prices.exists?(price_type: 'special') %>
        </div>
      <% elsif customer_signed_in? %>
        <div class='control'>
          <%= link_to 'Criar um pedido', new_event_order_path(@event.id), class: "button is-rounded is-link is-outlined" %>
        </div>
      <% end %>
    </div>
    <% if @event.event_prices.any? %>
      <% @event.event_prices.each do |price| %>
        <div class='column is-one-third'>
          <div class="card my-3">
            <div class="card-content">
              <p class="title is-5"><%= price.humanized_price_name %></p>
              <div class="content">
                <p><span>Valor base: <%= number_to_currency(price.base_value) %></span></p>
                <p><span>Adicional por pessoa: <%= number_to_currency(price.extra_per_person) %></span></p>
                <p><span>Adicional por hora: <%= number_to_currency(price.extra_per_hour) %></span></p>
                <% if buffet_owner_signed_in? && current_buffet_owner.buffet == @event.buffet %>
                  <%= link_to "Atualizar #{price.humanized_price_name}", edit_event_price_path(price), class: "button is-rounded is-info is-outlined mt-3" %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="box">
  <h2 class="title is-3">Galeria de Imagens</h2>
  <% if buffet_owner_signed_in? && current_buffet_owner.buffet == @event.buffet %>
    <%= form_with(model: [@event, HolderImage.new], html: { class: 'field is-horizontal' }) do |form| %>
      <div class="field is-horizontal">
        <div class="field-body">
          <div class="field">
            <div class="control">
              <div class="file has-name">
                <label class="file-label">
                  <%= form.file_field :image, accept: 'image/png, image/jpeg, image/jpg',
                                              class: 'file-input', id: 'file-input' %>
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Escolha um arquivo…
                    </span>
                  </span>
                  <span class="file-name" id="file-name">
                    Nenhum arquivo selecionado
                  </span>
                </label>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <%= form.submit class: 'button is-primary' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <div class="columns is-multiline mt-5">
    <% @event.holder_images.each do |image| %>
      <div class="column is-one-quarter" style="<%= "border: 1px solid white; border-radius: 10px " if @event.cover_photo == image %>">
        <div class="box-<%=image.id%>">
          <figure class="image is-4by4">
            <%= image_tag image.image, class: 'image' %>
          </figure>
          <% if buffet_owner_signed_in? && current_buffet_owner.buffet == @event.buffet %>
            <div class="has-text-centered">
              <div class="buttons mt-2" >
                <%= button_to 'Remover', event_holder_image_path(@event, image), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button is-danger is-small is-outlined' %>
                <% if @event.cover_photo != image %>
                  <%= button_to 'Definir como capa', cover_event_path(cover: image.id), method: :post, class: 'button is-info is-small is-outlined' %>
                <% else %>
                  <p class= 'button is-info is-small is-outlined'>Capa atual</p>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const fileInput = document.getElementById('file-input');
    const fileName = document.getElementById('file-name');

    fileInput.addEventListener('change', () => {
      const file = fileInput.files[0];
      if (file) {
        fileName.textContent = file.name;
      } else {
        fileName.textContent = 'Nenhum arquivo selecionado';
      }
    });
  });
</script>
