
<div class="content">
  <%= link_to "Retornar para #{@event.buffet.brand_name}", @event.buffet, class:"button is-rounded is-small is-outlined is-danger is-light" %>
</div>
<div class="box">
  <div class='columns'>
    <div class='column'>
      <h1 class="title is-1"><%= @event.name %></h1>
      <p class="subtitle "><%= "Tipo de evento: " + @event.event_category.humanized_category_name %></p>
      <p class="subtitle "><%= "Capacidade: minimo #{@event.min_capacity} e maximo #{@event.max_capacity}" %></p>
      <p class="subtitle "><%= "#{@event.default_duration/60} horas"%></p>
      <p class="subtitle "><%= @event.description %></p>
      <p class="subtitle "><%= @event.menu%></p>
      <p class="subtitle"><%= "Endereço Exclusivo: " + (@event.exclusive_address ? "Sim" : "Não") %></p>
      <div class="content">
        <ul>
          <% @event.features.each do |f| %>
            <li class="subtitle is-6"><%= f.humanized_feature_name %></li>
          <% end %>
        </ul>
      </div>
      <hr>

      <div class= 'buttons'>
        <% if buffet_owner_signed_in? && @event.buffet.buffet_owner == current_buffet_owner %>  
          <%= link_to 'Editar evento', edit_event_path(@event.id), class:"button is-rounded" %>
        </div>
        <div class="field is-horizontal" >
          <div class="field-body">
            <div class="field is-grouped">
              <div class="control">
                <%= link_to 'Definir preço padrão', new_event_price_path(price_type: 'standard', event_id: @event.id),
                                  class:"button is-rounded is-info is-outlined" unless @event.event_prices.exists?(price_type: 'standard') %>
              </div>
              <div class="control">
                <%= link_to 'Definir preço especial', new_event_price_path(price_type: 'special', event_id: @event.id), 
                                  class:"button is-rounded is-primary is-outlined" unless @event.event_prices.exists?(price_type: 'special') %>
              </div>
            </div>
          </div>
        </div>
        <% elsif customer_signed_in? %>
        <div class='control'>
          <%= link_to 'Criar um pedido', new_event_order_path(@event.id) %>
        </div>
      <% end %>
    </div>
    <div class="column" >
      <% if @event.event_prices.any? %>
        <% @event.event_prices.each do |price| %>
          <p>
            <%= price.humanized_price_name %>: <br>
            <%= "Valor base: #{price.base_value}" %> | <br>
            <%= "Adicional por pessoa: #{price.extra_per_person}" %> |<br>
            <%= "Adicional por hora: #{price.extra_per_hour}" %> <br> <br>
            <%= link_to "Atualizar #{price.humanized_price_name}", edit_event_price_path(price), class:"button is-rounded" %> <br>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

