<div class="box">
  <%= link_to order_path(order.id) do %>
    <p class="title is-5">
      Pedido <%= order.code %>
    </p>
    <p class="subtitle is-6">
      Evento: <%= order.event.name %>
    </p>
    <p>
      <strong>Status:</strong> <%= order.humanized_status_name %> <br>
      <strong>Data:</strong> <%= I18n.localize(order.date) %>
    </p>
  <% end %>
</div>