<p>Pedido: <%= @order.code %></p>
<p>Status do pedido: <%= @order.humanized_status_name %></p>
<p>Evento para <%= @order.people_count %> pessoas</p>
<p>Na data: <%= @order.date %></p>
<p>Endereço: <%= @order.address.nil? ? @order.event.buffet.address : @order.address %></p>
<p><%= @order.details %></p>

<%= link_to "Voltar para #{@order.event.name}", @order.event, class: 'button is-link is-light' %>
<%= link_to "Voltar para #{@order.event.buffet.brand_name}", @order.event.buffet, class: 'button is-link is-light' %>