
  <% if buffet_owner_signed_in? && current_buffet_owner.buffet.check_same_date_orders(@order) %>
    <div class="notification is-warning">
    <button class="delete"></button>
      Existem outros pedidos na mesma data! Verifique
    </div>
  <% end %>

<div class="box" >
  <div class="content" >
    <div class="columns">

      <div class="column is-one-third" >
        <p>
          Pedido: <%= @order.code %><br>
          Status do pedido: <%= @order.humanized_status_name %><br>
          Evento para <%= @order.people_count %> pessoas<br>
          Na data: <%= I18n.localize(@order.date) %> <br>
          Endereço: <%= @order.address.nil? ? @order.event.buffet.address : @order.address %><br>
          <%= @order.details %>
        </p>
        
        <% if @order.service_proposal.present? %>
          <div class="box" >
            <p>
              <strong>Proposta atual</strong> <br>
              <strong>Valor da proposta:</strong> <%= @order.service_proposal.get_real_value %> <br>
              Taxa extra: <%= @order.service_proposal.extra_fee %> <br>
              Desconto: <%= @order.service_proposal.discount %> <br>
              Motivo: <%= @order.service_proposal.description %> <br>
              Proposta valida até: <%= I18n.localize(@order.service_proposal.expiration_date) %> <br>
              Status: <%= @order.service_proposal.humanized_status_name %>

            </p>

            <% if customer_signed_in? && current_customer == @order.customer && (@order.waiting? || @order.negotiating? ) %>
              <div class="buttons is-grouped">
              <%= link_to "Aceitar proposta", accept_proposal_order_path(@order), class: 'button is-sucess is-light is-small' %>
              <%= link_to "Recusar proposta", @order, class: 'button is-warning is-light is-small' %>
              </div>
            <% end %>
          </div>
          
        <% end %>
        <% if customer_signed_in? && current_customer == @order.customer && (@order.waiting? || @order.negotiating? ) %>
            <%= link_to "Cancelar pedido", @order, class: 'button is-danger is-small' %> 
        <% end %>

      </div>
      
      <% if (@order.waiting? || @order.negotiating? ) && buffet_owner_signed_in? && current_buffet_owner == @order.event.buffet.buffet_owner %>
        <%= render 'proposal_form' %>
      <% end %>
    </div>
    <%= link_to "Voltar para #{@order.event.name}", @order.event, class: 'button is-link is-light is-small' %>
    <%= link_to "Voltar para #{@order.event.buffet.brand_name}", @order.event.buffet, class: 'button is-link is-light is-small' %>
  </div>
</div>