<% if @rate.errors.any? %>
  <article class="message">
    <div class="message-header">
      <p>Verifique os erros abaixo</p>
    </div>
    <div class="message-body">
      <ul>
        <% @rate.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </article>
<% end %>

<div class="content" >
  <h2 class="subtitle" >Avaliação para buffet <%= @buffet.brand_name %></h2>
  <%= form_with(model: [@buffet, @rate]) do |f| %>
    <div class='field is-horizontal'>
      <div class='field-label is-normal'>
        <%= f.label :comment, class: 'label' %>
      </div>
      <div class='field-body'>
        <div class='field'>
          <div class='control'>
            <%= f.text_area :comment, class: 'textarea', require: true %>
          </div>
        </div>
      </div>
    </div>

    <div class='field is-horizontal'>
      <div class='field-label is-normal'>
        <%= f.label :score, class: 'label' %>
      </div>
      <div class='field-body'>
        <div class='field'>
          <div class='control'>
            <%= f.number_field :score, in: 0..5, step: 1, class: 'input', require: true %>
          </div>
        </div>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="field-label" >
      </div>
      <div class="field-body" >
        <div class="control mr-2">
          <%= f.submit class: "button is-link is-outlined" %>
        </div>
        <div class="control">
          <%= link_to 'Cancelar', root_path, class: "button is-warning is-outlined" %>
        </div>
      </div>
    </div>

  <% end %>
</div>