<!DOCTYPE html>
<html>
  <head>
    <title>SearchBuffet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  </head>
  <body>
    <nav class="navbar is-dark has-shadow	" role="navigation" aria-label="main navigation" id="navbar">
      <div class="navbar-start">

        <div class="navbar-item is-size-3">
          <%= link_to 'Cade Buffet?', root_path, style:"color: white" %>
        </div>

        <div class="navbar-item" >
          <% if buffet_owner_signed_in? %>
            <%= link_to 'Meu Buffet', new_buffet_path, class:"button is-ghost is-white", style:"color: lightsteelblue" %>
            <%= link_to 'Anunciar Evento', new_event_path, class:"button is-ghost", style:"color: lightsteelblue" %>
            <%= link_to 'Lista de Eventos', events_path, class:"button is-ghost", style:"color: lightsteelblue" %>
            <%= link_to 'Pedidos', orders_path, class:"button is-ghost", style:"color: lightsteelblue" %>
          <% else %>
            <%= form_with(url: search_buffets_path, method: :get) do |f| %>
              <div class="field has-addons">
                <div class="control is-expanded">
                  <%= f.text_field :query, placeholder: 'Buscar Buffet', class: 'input' %>
                </div>
                <div class="control">
                  <%= f.submit 'Buscar', class: 'button is-white is-outlined' %>
                </div>
              </div>
            <% end %>
              <%= link_to 'Meus pedidos', orders_path, class:"button is-ghost is-white", style:"color: lightsteelblue" if customer_signed_in? %>
          <% end %>
        </div>

      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <p class="mr-2">
            <%= "Usuario: #{current_buffet_owner.email}" if buffet_owner_signed_in? %>
            <%= "Usuario: #{current_customer.email}" if customer_signed_in? %>
          </p>
          <div class="buttons">
            <% if buffet_owner_signed_in? %>
              <%= button_to 'Sair', destroy_buffet_owner_session_path, method: :delete, class:"button is-warning"%>
            <% elsif customer_signed_in? %>
              <%= button_to 'Sair', destroy_customer_session_path, method: :delete, class:"button is-warning"%>
            <% else %>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link is-arrowless">Para empresas</a>
                <div class="navbar-dropdown is-boxed " id="owners">
                  <%= link_to 'Logar', new_buffet_owner_session_path, class:"navbar-item " %>
                  <%= link_to 'Registrar-se', new_buffet_owner_registration_path, class:"navbar-item " %>
                </div>
              </div>
              <div class="field is-grouped" id="customers">
                <%= link_to 'Logar', new_customer_session_path, class:"button is-primary" %>
                <%= link_to 'Registrar-se', new_customer_registration_path, class:"button is-light" %>
              </div>
            <% end %>
          </div>
        </div>
        
      </div>
  </nav>

  <% if notice %>
    <div class="notification is-success">
      <button class="delete" onclick="this.parentElement.style.display='none';" ></button>
      <%= notice %>
    </div>  
  <% end %>
    
  <% if alert %>
    <div class="notification is-danger">
      <button class="delete" onclick="this.parentElement.style.display='none';" ></button>
      <%= alert %>
    </div>
  <% end %>

  <section class="section">
    <div class="container">
      <%= yield %>
    </div>
  </section>
  </body>
</html>